.container__main_flex {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 110px 80px 110px;
}

.container__left {
  max-width: 300px;
  flex-direction: column;
  margin: 1rem;
  
}

.container__middle {
  /* max-width: 30%; */
  flex: 3;
  margin: 2rem 1rem 0rem 1.5rem;
}

.container__right {
  /* max-width: 30%; */
  flex: 2;
  margin: 1rem
}

.image_details {
  margin: 1rem;
 
}

.image_details:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* /* Product Description  */
.product_description {
  margin-bottom: 20px;
  margin-top: 2rem;
  text-align: justify;
}

.product_description span {
  font-size: 16px;
}

.product_brand {
  font-weight: 600;
  font-size: 30px;
}

.product_name {
  font-size: 30px;
  font-weight: 400;

}



/* /* Product Price  */
.product_price {
  display: flex;
  align-items: center;
}

.product_price div > p:first-of-type {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 700;
  text-align: left
}

.product_price div > p ~ p{
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-left: 5px;
}

.cartBtn {
  display: flex;
  align-items: center;
}

.cartBtn button {
  display: block;
  width: 292px;
  background-color: #5ECE7B;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
  cursor: pointer;

}