
.flex_container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.categoryTitle{
  margin-left: 10rem;
  font-size: 42px;
  font-weight: 400;
}
.item{
  position: relative;
  margin: 2rem;

}

.card {
  transition: 0.3s;
  flex: 0 0 200px;
  margin: 10px;
  position: relative;
}

.card_outOfStock {
  transition: 0.3s;
  flex: 0 0 200px;
  margin: 10px;
  background: #ffffff;
  opacity: 0.5;
}

.text_outOfStock {
  position: absolute;
  padding: 150px 150px;
  font-size: 30px;
  color: #8d8f9a;
}

.text_inStock {
  display: none;
}
.img{
  padding: 10px;
}

.CardButton {
  position: absolute;
  right: -14px;
  top: 20px;
  display: none;
  transition: 1s;
}

.item:hover .CardButton {
  display: inline;
}

/* On mouse-over, add shadow */
.card:hover,
.card_outOfStock:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.productName {
font-size: 18px;
font-weight: 300;
}
.productPrice{
  font-size: 18px;
font-weight: 500;
}