.container {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 4fr 4fr 4fr; 
  margin-left: 10vh;
}

.categoryTitle {
  margin-left: 10rem;
  font-size: 42px;
  font-weight: 400;
}

.item {
  position: relative;
  margin: 2rem;
  width: 400px;
  height: 444px;

}

.card {
  transition: 0.3s;
  flex: 0 0 200px;
  margin: 10px;
  position: relative;

}

.card_outOfStock {
  transition: 0.3s;
  flex: 0 0 200px;
  margin: 10px;
  background: #ffffff;
  opacity: 0.5;
  
}

.text_outOfStock {
  position: absolute;
  padding: 150px 100px;
  font-size: 30px;
  color: #8d8f9a;
}

.text_inStock {
  display: none;
}

.img {
  padding: 10px;
  height: 350px;
}

.img>img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.CardButton {
  position: absolute;
  right: -14px;
  top: 20px;
  display: none;
  transition: 1s;
}

.item:hover .CardButton {
  display: inline;
}

/* On mouse-over, add shadow */
.card:hover,
.card_outOfStock:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

/* Add some padding inside the card container */
.detailsContainer {
  padding: 2px 16px;
}

.productName {
  font-size: 18px;
  font-weight: 300;
}

.productPrice {
  font-size: 18px;
  font-weight: 500;
}