* {
  font-family: Raleway;
  
}

p {
  margin: 0rem 0rem 0.7rem 0rem;
  color: #1D1F22;
}

a {
  text-decoration: none;
  color: #1D1F22;
}

.active {
  font-weight: 600;
  color: #5ece7b !important;
  text-decoration: none;
  border-bottom: 2px solid #5ece7b;
}