*{
  font-family: Raleway;
}

p{
  margin: 0rem 0rem 0.7rem 0rem;
}

a{
  text-decoration: none;
}
.active {
  font-weight: 600;
  color: #5ece7b;
  text-decoration: none;
  border-bottom: 2px solid #5ece7b;
}

